.App {
  text-align: center;
}
body {
  background-image: url(../images/starrySky.png);
  background-color: rgba(63, 81, 181, 0.03);
}

#header {
  grid-area: header;
}

#title {
  margin: 0 auto;
}

#businessList {
  grid-area: sidebar;
}

.businessPaper {
  width: 90%;
  box-shadow: 3px;
}

.BusinessDirectory-root-198 {
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 2vh;
  margin-bottom: 2vh;
}

#search {
  width: 54%;
  display: inline-block;
  box-lines: none;
}
#searchText {
  width: 100%;
  text-align: center;
  background-color: #ffffff;
}
#search,
#searchBtn {
  grid-area: search;
  max-height: 40px;
}
#searchBtn {
  width: 100%;
}
#searchBtn:hover {
  background-color: rgba(245, 0, 87, 0.1);
}

#suggestionBox{
  width: 32vw;
  margin: auto;
  transform: translateX(1vw);
}

#filter {
  grid-area: filter;
  margin-top: 8px;
  display: inline-block;
  position: relative;
}

#filterBtn,
#dayOption,
#typeOption {
  margin-left: 10px;
  max-height: 40px;
  width: 23%;
}

#filterBtn {
  transform: translateY(32px);
}

select {
  background-color: #c4c4c4;

}

#mapEmbed {
  grid-area: map;
  margin-bottom: 2em;
  max-width: 60vw;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#bizModalBtn {
  background-color: white;
  color: #f50057;
  border: none;
}
#bizModalBtn:hover {
  background-color: #3f51b5;
  color: white;
  border: none;
}

#modal {
  width: 30%;
  min-height: 11em;
  overflow-x: auto;
}

#modal::after {
  content: "";
  background: url("../images/nightOwl.png");
  object-fit: fill;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#scrollBtn {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #f50057;
  color: #ffffff;
  border-radius: 2px;
  margin: 5.5vh .4vw;
  z-index: 3;
}

.container {
  display: grid;
  grid-template-columns: 1fr 25% 1fr 50% 10% 1fr;
  grid-template-rows: 65px 25px 55px auto auto;
  grid-template-areas:
    "header header header header header header"
    "...... ...... ...... ...... ...... ......"
    "...... sidebar ..... search search ......"
    "...... sidebar ..... filter filter ......"
    "...... sidebar ..... filter filter ......";
}

@media only screen and (max-width: 980px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 82% 8% 1fr;
    grid-template-rows: 65px 25px auto auto auto auto;
    grid-template-areas:
      "header header header header"
      "...... ...... ...... ......"
      "...... search search ......"
      "...... filter filter ......"
      "...... filter filter ......"
      "...... sidebar sidebar ....";
  }

  #barWrapper {
    width: 100%;
  }

  #search {
    justify-self: center;
    width: 90%;
  }
  #suggestionBox{
    width: 60vw;
    margin: auto;
    transform: none;

  }
  #filterBtn,
  #dayOption,
  #typeOption {
    margin-left: 10px;
    max-height: 40px;
    width: 35%;
  }
  #mapEmbed {
    margin-top: 38px;
    max-width: 90vw;
  }

  #modal {
    width: 70vw;
  }

}

@media only screen and (max-width: 760px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 82% 8% 1fr;
    grid-template-rows: 65px 25px auto auto auto auto;
    grid-template-areas:
      "header header header header"
      "...... ...... ...... ......"
      "...... search search ......"
      "...... filter filter ......"
      "...... filter filter ......"
      "...... sidebar sidebar ....";
  }

  #barWrapper {
    width: 100%;
  }

  #search {
    justify-self: center;
    width: 90%;
  }
  #suggestionBox{
    width: 75vw;
    margin: auto;
    transform: none;
  }
  #modal {
    width: 80vw;
  }
}
