.App {
  text-align: center;
}

#header {
  grid-area: header;
}

#title {
  margin: 0 auto;
}

#businessList {
  grid-area: sidebar;
}

.businessPaper {
  width: 100%;

}

.BusinessDirectory-root-198 {
  position: relative;
  overflow: hidden;
  padding: 0.8em;
  text-align: center;
  padding: 4px;
  margin-bottom: 5px;
  box-shadow: 3px;
}

#search {
  width: 100%;
  display: inline-block;
}
#searchText {
  width: 70%;
}
#search,
#searchBtn {
  grid-area: search;
  /* display: inline; */
  max-height: 40px;
}

#filter {
  grid-area: filter;
  margin-top: 8px;
  display: inline-block;
  position: relative;

}
#filterBtn,
/* #locationOption, */
#dayOption,
#typeOption {
  margin-left: 10px;
  /* float: left; */
  max-height: 40px;
  width: 23%;
}

#filterBtn {
  transform: translateY(32px);
}

#mapEmbed {
  grid-area: map;
  margin-bottom: 2em;
  max-width: 60vw;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#bizModalBtn {
  background-color: white;
  color: #f50057;
  border: none;

}
#bizModalBtn:hover {
  background-color: #3f51b5;
  color: white;
  border: none;
}


#modal {
  width: 30%;
  min-height: 11em;
}

#modal::after {
  content: "";
  background: url("../images/nightOwl.png");
  object-fit: fill;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.container {
  display: grid;
  grid-template-columns: 1fr 25% 1fr 50% 10% 1fr;
  grid-template-rows: 65px 25px 25px auto auto;
  grid-template-areas:
    "header header header header header header"
    "...... ...... ...... ...... ...... ......"
    "...... sidebar ..... search search ......"
    "...... sidebar ..... filter filter ......"
    "...... sidebar ..... filter filter ......";
}

@media only screen and (max-width: 980px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 82% 8% 1fr;
    grid-template-rows: 65px 25px auto auto auto auto;
    grid-template-areas:
      "header header header header"
      "...... ...... ...... ......"
      "...... search search ......"
      "...... filter filter ......"
      "...... filter filter ......"
      "...... sidebar sidebar ...."
  }

  #barWrapper {
    width: 100%;
  }

  #search {
    justify-self: center;
    width: 90%;
  }

  #filterBtn,
/* #locationOption, */
#dayOption,
#typeOption {
  margin-left: 10px;
  /* float: left; */
  max-height: 40px;
  width: 35%;
}
  #mapEmbed {
    margin-top: 38px;
    max-width: 90vw;
  }

  #modal {
    width: 70vw;
  }
  
  /* .BusinessDirectory-root-198 {
    position: relative;
    overflow: hidden;
    padding: 0.8em;
    text-align: center;
    padding: 4px;
    margin-bottom: 5px;
    box-shadow: 3px;
  } */
 
}

@media only screen and (max-width: 760px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 82% 8% 1fr;
    grid-template-rows: 65px 25px auto auto auto auto;
    grid-template-areas:
      "header header header header"
      "...... ...... ...... ......"
      "...... search search ......"
      "...... filter filter ......"
      "...... filter filter ......"
      "...... sidebar sidebar ...."
  }

  #barWrapper {
    width: 100%;
  }

  #search {
    justify-self: center;
    width: 90%;
  }

  #modal {
    width: 80vw;
  }
}